<% if current_user.nil? %>
<h1>Track Projects</h1>
<% else %>
<h1>Your Track Projects</h1>
<% end %>

<div class="index" id="user_repositories">
  <% @songs.each do |song| %>
  <h4><a href="/songs/<%= song.id %>"><%= song.title %></a></h4>
  <% end %>
</div>

