<h1><%= @song.title %></h1>
<audio controls>
  <source src="<%= @song.song_url.url %>" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio><br>
<% if current_user %>
<a href="/songs/<%=@song.id%>/edit">Edit</a>
<% end %>
