body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-image: url(brickwall.png);
  margin-bottom: 40px;
}

.jumbotron, .panel-body {
  background-image: url('bedge_grunge.png')
}

#sign_in_section {
  width: 300px;
  margin: auto;
  text-align: center;
}

img {
  border:1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
  height: 300px;
  width: 225px;
  margin-top: 57px;
}

#username {
  font-weight: bold;
}

.navbar-header {
  margin-right: 0px;
  margin-right: 0px;
}
ul {
  margin-left: 300px;
}

#new_button{
  font-size: 200%;
}

#personal_tracks, #contributed_tracks{
  border-radius: 10px;
  height: 321px;
  overflow: scroll;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}

#version_page {
  background-color: #F0F2EB;
  border-radius: 10px;
  height: 330px;
  width: 700px;
  overflow: scroll;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}

.centered {
  width: 300px;
  margin: auto;
  text-align: center;
}

p#version-message {
  font-style: italic;
}
